<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :company %>
      <%= f.text_field :company %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :start %>
      <%= f.datetime_select :start %>
    </div>

    <div class="field">
      <%= f.label :finish %>
      <%= f.datetime_select :finish %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :need %>
      <%= f.number_field :need %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
  </div>
  <%= hidden_field_tag "project[user_ids][]", nil%>
  <% @users.each do |user| %>
    <%= check_box_tag "project[user_ids][]", user.id, project.user_ids.include?(user.id) %>
    <%= user.name %>
    <br />
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
